{##
 # Checkout : shipping step : selected state : methods
 #
 # @ListChild(list="chechout.shipping.selected.sub.payment.shipping.methods.after", zone="customer", weight=200)
 #}
{% if not this.isProMembership() %}
	<div class="subscription-checkout">
		<img src="{{ this.getImageUrl() }}" alt="subscription-logo">
		<div class="subscription-checkout__label">
			<span>
				<strong>{{t('Free Shipping')}}</strong><br>{{t('Only $99/year')}}<b>{{t('*U.S. mainland only')}}</b>
			</span>
			<form action="/stripe-subscriptions" method="POST">
				<input name="return_url" type="hidden" value="{{ this.getSubscriptionReturnUrl }}">
				<input name="success_url" type="hidden" value="{{this.getSubscriptionSuccessUrl()}}">
				<button class="btn regular-button regular-main-button" type="submit">{{t('Get Now')}}</button>
			</form>
		</div>
		<span class="subscription-option-label">Or</span>
		<div class="subscription-box">
			<span class="subscription-subbox">
				<ol class="subscription-text-2">
					<li class="item">{{t('Free shipping year-round on all the skincare products, supplies and selected equipment. ($99/year)')}}</li>
					<li class="item">{{t('Early access to discount rates')}}</li>
					<li class="item">{{t('Access to Special Promotions &amp; deals')}}</li>
					<li class="item">{{t('No Minimum Purchase required get free shipping even if your order total is $10 year round')}}</li>
				</ol>
			</span>
		</div>
	</div>
{% endif %}
