{##
 # Migration Wizard - Start step
 #}
<div class="wizard-section">
    <h2>{{ t('Welcome to X-Cart 5 migration wizard') }}</h2>
    <div class="form-group">
        <p>{{ t('It will guide you throuh the migration process and help transfer your existing data to X-Cart 5') }}<br>
        {{ t('You will need the DB access information of your existing store to proceed')|raw }}</p>
    </div>
    <div class="form-group">
        <p>{{ t('Only the data with a complete and whole structure is guaranteed to be migrated successfully.') }}</p>
    </div>
    <div class="form-group">
        <p>{{ t('The existing X-Cart 5 store should be a clean X-Cart installation without any data') }}<br>
        {{ t('To clean up the data you can use a Remove data tool')|raw }}</p>
    </div>
    <div class="form-group">
        <p>{{ t('Please make sure you have backed up all your data before you start the migration process') }}</p>
    </div>
</div>