<div class="settings-wrapper {{ this.getStyle }}">
    <a href="{{ this.getSettingsPageUrl() }}" class="feed-settings-link" title="{{ this.entity.name }} {{ t('settings') }}">
        {{ t('Settings') }}
    </a>
</div>
