{##
 # ____file_title____
 #}

<fieldset>
  <div>
    {{ widget_list('environment.before') }}

    <table cellspacing="1" cellpadding="5" class="settings-table">

      <tr>
        <td class="setting-name">{{ t('Core version') }}:</td>
        <td>{{ this.get('core_version')|raw }}{% if this.get('answeredVersion') %}&nbsp;&nbsp;({{ t('verified version') }}: {% if this.get('answeredVersionError') %}
            <span class="star">{{ t('unknown') }}</span>{% else %}{{ this.get('answeredVersion') }}{% endif %}){% endif %}</td>
      </tr>

      {% if this.get('answeredVersionError') %}
        <tr>
          <td class="setting-name">{{ t('Loopback test') }}:</td>
          <td><textarea name="answered_version" class="form-control" cols="80" rows="5" style="FONT-SIZE: 10px;"
                        readonly>{{ this.get('answeredVersion') }}</textarea></td>
        </tr>
      {% endif %}

      <tr>
        <td class="setting-name">{{ t('Installation directory') }}:</td>
        <td>
          <div>{{ this.get('root_folder')|raw }}</div>
          <div class="form-field-comment">
            <a href="{{ this.getInstallationDirectoryHelpLink() }}" target="blank_"
               class="navigation-path">{{ t('How do I move X-Cart?') }}<i class="icon fa fa-external-link"></i></a>
          </div>
        </td>
      </tr>

      <tr>
        <td class="setting-name">PHP:</td>
        <td>
          <div>{{ this.get('phpversion')|raw }}</div>
          <div class="form-field-comment">
            <a href="{{ xurl('settings', 'phpinfo', {'page': 'Environment'}) }}" target="blank_"
               class="navigation-path">{{ t('details') }}</a>
          </div>
        </td>
      </tr>

      <tr>
        <td class="setting-name">{{ t('MySQL server') }}:</td>
        <td>
          <span>{{ this.get('mysql_server')|raw }}&nbsp;</span>
          {% if this.get('innodb_support') %}
            <span>({{ t('InnoDB engine support enabled') }})</span>
          {% endif %}
          {% if not this.get('innodb_support') %}
            <span
                class="error-message">{{ t('Warning! InnoDB engine is not supported. It is required for software operation') }}</span>
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="setting-name">{{ t('Web server') }}:</td>
        <td>{{ this.get('web_server')|raw }}</td>
      </tr>

      <tr>
        <td class="setting-name">{{ t('Operating system') }}:</td>
        <td>{{ this.get('os_type')|raw }}</td>
      </tr>

      <tr>
        <td class="setting-name">{{ t('Date and time on the server') }}:</td>
        <td>{{ this.getServerDateTime() }} {{ this.getServerTimeZone() }}</td>
      </tr>

      <tr>
        <td class="setting-name">{{ t('Date and time in the shop') }}:</td>
        <td>{{ this.getShopDateTime() }} {{ this.getShopTimezone() }}</td>
      </tr>

      <tr>
        <td class="setting-name">{{ t('XML parser') }}:</td>
        <td>{{ this.get('xml_parser')|raw }}</td>
      </tr>

      <tr>
        <td class="setting-name">GDLib:</td>
        <td>{% if this.get('gdlib') %}{{ this.get('gdlib') }}{% else %}<span class="error-message">{{ t('Not detected') }}</span><br/>
            <b>{{ t('Warning!') }}</b> {{ t('PHP \'gd\' extension is not installed.') }}{% endif %}</td>
      </tr>

      <tr>
        <td class="setting-name">{{ t('Translation driver') }}:</td>
        <td>{{ this.getTranslationDriver() }}</td>
      </tr>

      <tr>
        <td class="setting-name">{{ t('Curl version') }}:</td>
        <td>{% if this.get('libcurl')  %}{{ this.get('libcurl') |raw }}{% else %}<span class="star">{{ t('unknown') }}</span>{% endif %}
        </td>
      </tr>
    </table>
  </div>
</fieldset>

{% if this.get('libcurl')  or this.license_keys %}
  {% include 'settings/base.twig' %}
{% endif %}
