{##
 #
 #}
{% if not this.isSlidebar() %}
  <ul id="top-main-menu-with-hor-fly-cats" class="nav navbar-nav horizontal-flyout-menu{% if this.isMulticolSubcategoriesView() %} multicol-menu{% endif %} top-main-menu">
{% endif %}

    {% if not this.isSlidebar() %}

      {% if this.isShowHomeLink() %}
        <li class="leaf first {% if this.get('target') == 'main' %}active{% endif %}">
          <a href="{{ xurl() }}" title="{{ t('Home') }}"><span>{{ t('home_link') }}</span></a>
        </li>
      {% endif %}

      {{ widget_list('header.flycategories') }}

    {% endif %}
    {% if this.isSlidebar() %}
    {% for i, item in this.getItems() %}
      {% if this.isLevelUp(item.depth) %}
        <ul class="horizontal-flyout-menu sublevel">
      {% else %}
        {% if not this.isFirstElement() %}
          </li>
        {% endif %}
      {% endif %}

      {{ this.closeMenuList(item.depth)|raw }}
      <li {{ this.displayItemClass(i, item)|raw }}>
        {% if item.url %}
          <a href="{{ item.url }}" {% if item.active %}class="active"{% endif %}>
            <span>{{ item.label }}</span>
          </a>
        {% else %}
          <span class="primary-title" >{{ item.label }}</span>
        {% endif %}
    {% endfor %}
    </li>
    {{ this.closeMenuList()|raw }}
    {% endif %}
{% if not this.isSlidebar() %}
  </ul>
{% endif %}
