{##
 # Header bar
 #
 # @ListChild (list="sidebar.footer", weight="200")
 #}

<div class="payments-icons">
  <img src="{{ asset('images/i-payment-visa.svg') }}" />
  <img src="{{ asset('images/i-payment-paypal.svg') }}" />
  <img src="{{ asset('images/i-payment-maestro.svg') }}" />
  <img src="{{ asset('images/i-payment-discover.svg') }}" />
  <img src="{{ asset('images/i-payment-ebay.svg') }}" />
  <img src="{{ asset('images/i-payment-2co.svg') }}" />
</div>