{##
 # Header bar
 #
 # @ListChild (list="footer.menus.after", weight="10")
 #}

<li class="leaf social-menu">
 <span class="footer-title">{{ t('[SkinActSkin] Social') }}</span>
 <ul class="social-list">
  <li>
   <div class="social-list">
    <a class="social-list__item" href="https://www.facebook.com/SkinAct/" target="_blank">
     <img src="{{ asset('images/i-social-facebook.svg') }}" />
    </a>
    <a class="social-list__item" href="https://twitter.com/spaandequipment" target="_blank">
     <img src="{{ asset('images/i-social-twitter.svg') }}" />
    </a>
    <a class="social-list__item" href="https://pinterest.com/skinact/spaandequipmentcom/" target="_blank">
     <img src="{{ asset('images/i-social-pinterest.svg') }}" />
    </a>
    <a class="social-list__item" href="https://www.youtube.com/user/TheSpaandEquipment" target="_blank">
     <img src="{{ asset('images/i-social-youtube.svg') }}" />
    </a>
    <a class="social-list__item" href="https://www.instagram.com/spa_and_equipment/" target="_blank">
     <img src="{{ asset('images/i-social-instagram.svg') }}" />
    </a>
    <a class="social-list__item" href="https://spaandequipment.blogspot.com/" target="_blank">
     <img src="{{ asset('images/i-social-blogger.svg') }}" />
    </a>
   </div>
  </li>
 </ul>
</li>