<div class='yotpo-widget-instance'
     id="yotpoReviewsWidget"
     data-yotpo-instance-id="{{ this.getWidgetId() }}"
     data-yotpo-product-id="{{ this.getProductSku() }}"
     data-yotpo-name="{{ this.getProductName() }}"
     data-yotpo-url="{{ this.getProductUrl() }}"
     data-yotpo-image-url="{{ this.getProductImageUrl() }}"
     data-yotpo-price="{{ this.getProductPrice() }}"
     data-yotpo-currency="{{ this.getCurrency() }}">
</div>