{##
 # Authorize.Net SIM configuration page
 #}

<style>
  .settings-table td {
    position: relative;
  }

  .settings-table td:nth-child(2) {
    min-width: 250px;
  }

  .settings-table input + .tooltip-main {
    position: absolute;
    right: -30px;
    top: 10px;
  }

  .settings-table input + .tooltip-main li {
    list-style: disc;
    margin-left: 20px;
  }

  .settings-table .note {
    font-size: 14px;
    margin-bottom: 14px;
    float: none;
  }

  .settings-table .note + .tooltip-main {
    position: absolute;
    right: -30px;
    top: 2px;
  }

  .settings-table .webhook {
    margin-bottom: 13px;
  }

  .settings-table .webhook .url {
    font-size: 16px;
    padding: 7px 18px 7px;
    border-radius: 6px;
    border: solid 1px #efefef;
    background: #f8f8f8;
    color: #8f8f8f;
    width: auto;
    display: inline-block;
    white-space: nowrap;
    float: none;
  }

  .settings-table .webhook .copy-link {
    margin-left: 12px;
  }

  #webhook_url + .help-wrapper .popover-content {
    min-width: 320px;
  }

</style>
<ul class="table model-properties settings-table authorize-net">
  <li>
    <p class="note text-left">{{ t('Dont have an account? Sign Up Now', { link: 'http://reseller.authorize.net/application/?resellerId=20961'})|raw }}</p>
  </li>
  <li>
    {% set tooltipText %}
      <p>{{ t('Relay Response URL note') }}</p>
      <p>{{ t('relay_response_help') }}</p>
    {% endset %}
    {{ widget('XLite\\View\\FormField\\Input\\Text\\TextWithCopyButton',
      fieldId='webhook_url',
      value=this.paymentMethod.processor.getWebhookURL(),
      readOnly='true',
      label=t('Relay Response URL'),
      help=tooltipText
    ) }}
  </li>
  <li>
    {{ widget('XLite\\View\\FormField\\Input\\Text',
      fieldName='settings[login]',
      fieldId='settings_login',
      value=this.paymentMethod.getSetting('login'),
      required='true',
      label=t('API Login ID')
    ) }}
  </li>
  <li>
    {{ widget('XLite\\View\\FormField\\Input\\Text',
      fieldName='settings[key]',
      fieldId='settings_key',
      value=this.paymentMethod.getSetting('key'),
      required='true',
      label=t('Transaction key'),
      help=t('authorize_key_help')
    ) }}
  </li>
  <li>
    {{ widget('XLite\\View\\FormField\\Input\\Text',
      fieldName='settings[signature]',
      fieldId='settings_signature',
      value=this.paymentMethod.getSetting('signature'),
      label=t('Signature key'),
      help=t('Required for SHA512 hash protection.')
    ) }}
  </li>
  <li>
    {{ widget('XLite\\View\\FormField\\Select\\TransactionType',
      value=this.paymentMethod.getSetting('type')
    ) }}
  </li>
  <li>
    {{ widget('XLite\\View\\FormField\\Select\\IsTestMode',
      value=this.paymentMethod.getSetting('test'),
    ) }}
  </li>
  <li>
    {{ widget('XLite\\View\\FormField\\Input\\Text\\OrderPrefix',
      value=this.paymentMethod.getSetting('prefix'),
      label=t('Invoice number prefix'),
      help=t('It\'s recommended to limit the length of invoice prefix to 9 characters')
    ) }}
  </li>
</ul>
