{##
 # Order address : info
 #
 # @ListChild (list="address.order.main", weight="100")
 #}

<div class="info">
  {% if this.getOrder().origProfile and this.isShowProfileLink() %}
    <a href="{{ xurl('profile', '', {'profile_id': this.getOrder().origProfile.profileId}) }}">{{ this.getName() }}</a>
  {% else %}
    {{ this.getName() }}
  {% endif %}
  {% if this.isShowEmail() %}
    <span class="separator">-</span>
    {#<span class="email"><a href="mailto:{{ this.getEmail() }}">{{ this.getEmail() }}</a></span>#}
    <span class="email">
    {{ widget('\\XLite\\View\\FormField\\Inline\\Input\\Text\\Email', entity=this.getOrder().getProfile(), name='address_login', fieldName='login', fieldNamespace='address_login') }}
    </span>
  {% endif %}
</div>
