{##
 # File uploader menu
 #
 # @ListChild (list="file-uploader.menu", weight="30")
 #}

<li role="presentation" class="dropdown-header">{{ t('Upload') }}</li>
<li role="presentation">
  <a role="menuitem" tabindex="-1" href="#" class="from-computer" v-on:click.prevent="uploadFromComputer">
    <i class="button-icon svg">{{ svg('images/icons/upload.svg', 'common')|raw }}</i>
    <span>{{ t('From computer') }}</span>
  </a>
  <input type="file" name="uploaded-file"{% if this.hasMultipleSelector() %} multiple="multiple"{% endif %} v-on:change="doUploadFromFile" />
</li>
{% if this.isViaUrlAllowed() %}
  <li role="presentation" v-if="isViaUrlAllowed">
    <a role="menuitem" tabindex="-1" href="#" class="via-url" v-on:click.prevent="uploadViaUrl">
      <i class="button-icon svg">{{ svg('images/icons/url.svg', 'common')|raw }}</i>
      <span>{{ t('Via URL') }}</span>
    </a>
  </li>
<div class="via-url-popup" v-if="isViaUrlAllowed" data-title="{{ t('Upload via URL') }}" data-multiple="{% if this.hasMultipleSelector() %}1{% endif %}">
  <div class="file-lines">
    <div class="file-line">
      <input type="text" name="url[]" class="form-control url" value="" placeholder="http://example.com/file.jpg" />
      {% if this.hasMultipleSelector() %}
        <div class="add-line-sign btn btn-default">+</div>
      {% endif %}
    </div>
  </div>

  <div class="checkbox">
    <label><input type="checkbox" name="copy-to-file" value="1" class="copy-to-file" checked="checked"/>{{ t('Copy to file system') }}</label>
    <div class="not-copy-to-file-warning alert alert-warning hidden">{{ t('Warning! The image cannot be resized to reduce capacity for better site performance.') }}</div>
  </div>
  <div class="model form buttons">
    <button type="button" class="btn regular-button" v-on:click.prevent="doUploadViaUrl">{{ t('Upload') }}</button>
  </div>
</div>
{% endif %}
