{##
 # Messages list : line
 #}

<li {{ this.printTagAttributes(this.getLineTagAttributes(message))|raw }}>
  <div class="message-text">
    <div class="author">
      <span class="icon">{{ this.displaySVGImage('modules/XC/VendorMessages/images/user.svg') }}</span>
      {{ message.getAuthorName() }}
    </div>
    <div class="body">{{ message.publicBody|raw }}</div>
    {% if message.getImages().toArray()|length > 0 %}
      {#            <br><br>#}
      {{ widget('\\Qualiteam\\SkinActOrderMessaging\\View\\FormField\\FileUploader\\ImageUploader',
        value=message.getImages().toArray(),
        isImage=true,
        fieldName='message_image_non_editable',
        isViaUrlAllowed=false,
        multiple=true,
        fieldOnly=true,
        mode=1
      ) }}
    {% endif %}
  </div>
  <div class="date">
    <span>{{ this.formatTime(message.date) }}</span>
  </div>
</li>
