{##
 # Return details (invoice page)
 #
 # @ListChild (list="invoice.base", weight="65")
 #}

{% if this.order.getOrderReturn() %}
  <a name="return_details"></a>
  <div class="order-return-details">
    <div class="order-return-header">
      <div class="order-return-title">{{ t('Order return') }}</div>
      <div class="order-return-status">{{ t('Status') }}: <span class="status">{{ this.order.getOrderReturnStatus() }}</span></div>
    </div>
    <div class="clearfix"></div>
    {% if this.order.getOrderReturnDate() %}
      <div class="section date">
        <span class="title">{{ t('Date') }}: </span>
        <span class="value">{{ this.formatTime(this.order.getOrderReturnDate()) }}</span>
      </div>
    {% endif %}
    {{ widget_list('order_return.base') }}
    <div class="section reason">
      <span class="title">{{ t('Reason') }}: </span>
      <span class="value">{{ this.order.getOrderReturnReason() }}</span>
    </div>
    {% if this.isReturnActionsEnabled() %}
    <div class="section reason">
      <span class="title">{{ t('Action') }}: </span>
      <span class="value">{{ this.order.getOrderReturnAction() }}</span>
    </div>
    {% endif %}
    {% if this.order.getOrderReturnComment() %}
      <div class="section comment">
      <span class="title">{{ t('Comment') }}: </span>
      <span class="value">{{ this.order.getOrderReturnComment()|nl2br }}</span>
    </div>
    {% endif %}
  </div>
{% endif %}
