{# #
 # Messages list
    This file  is copied from
      /var/www/skinact2/modules/XC/VendorMessages/templates/web/customer/modules/XC/VendorMessages/items_list/messages/order/body.twig
#}

{% if this.isRecipientSelectorVisible() %}
    <div class="recipient clearfix">
        <div class="tabbed-content-wrapper">
            <div class="tabs-container">
                <div class="page-tabs">

                    <ul>
                        {% for tabPage in this.getTabs() %}
                            <li class="tab{% if tabPage.selected %}-current active{% endif %}">
                                {% if tabPage.selected %}
                                    <a href="{{ tabPage.url|raw }}">
                                        {{ t(tabPage.title) }}
                                        {% if tabPage.marks_visible %}
                                            <div class="marks">
                                                {% if tabPage.has_dispute %}
                                                    <span class="dispute"
                                                          title="{{ t('Dispute is open X by Y', this.disputeMessageArguments) }}">D</span>
                                                {% endif %}
                                                {% if tabPage.countUnread %}
                                                    <span class="count-unread">{{ tabPage.countUnread }}</span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </a>
                                {% else %}
                                    <a href="{{ tabPage.url|raw }}">
                                        {{ t(tabPage.title) }}
                                        {% if tabPage.marks_visible %}
                                            <div class="marks">
                                                {% if tabPage.has_dispute %}
                                                    <span class="dispute"
                                                          title="{{ t('Dispute is open X by Y', this.disputeMessageArguments) }}">D</span>
                                                {% endif %}
                                                {% if tabPage.countUnread %}
                                                    <span class="count-unread">{{ tabPage.countUnread }}</span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
    {% include 'modules/XC/VendorMessages/items_list/messages/order/parts/items.twig' %}
{% endif %}

<div class="messages-subheader">
    <div class="order-number">{{ t('Order') }} #{{ this.getCurrentThreadOrder().getOrderNumber() }}</div>
    {% if this.isAllowDispute() %}
        <div class="right action-buttons">
            {% if this.isOpenedDispute() %}
                {{ widget('XC\\VendorMessages\\View\\Button\\CloseDispute', order=this.getOrder(), recipient_id=this.getCurrentThreadOrder().getOrderId()) }}
            {% else %}
                {{ widget('XC\\VendorMessages\\View\\Button\\OpenDispute', order=this.getOrder(), recipient_id=this.getCurrentThreadOrder().getOrderId()) }}
            {% endif %}
        </div>
    {% endif %}
</div>

{% if this.isDisplayAll() %}
    <ul class="messages">
        {% for message in this.getPageData() %}
            {% if this.isNewSeparatorVisible(message) %}
                {% include 'modules/XC/VendorMessages/items_list/messages/order/parts/separator_new.twig' %}
            {% endif %}
            {# module changes here #}
            {% include 'modules/Qualiteam/SkinActOrderMessaging/items_list/messages/order/parts/line.twig' %}
        {% endfor %}
        {% include 'modules/XC/VendorMessages/items_list/messages/order/parts/separator_opened.twig' %}
    </ul>
{% else %}
    <ul class="messages">
        {% for message in this.getFirstData() %}
            {% include 'modules/XC/VendorMessages/items_list/messages/order/parts/line.twig' %}
        {% endfor %}
        {% include 'modules/XC/VendorMessages/items_list/messages/order/parts/separator_closed.twig' %}
        {% for message in this.getLastData() %}
            {% if this.isNewSeparatorVisible(message) %}
                {% include 'modules/XC/VendorMessages/items_list/messages/order/parts/separator_new.twig' %}
            {% endif %}
            {# module changes here #}
            {% include 'modules/Qualiteam/SkinActOrderMessaging/items_list/messages/order/parts/line.twig' %}
        {% endfor %}
    </ul>
{% endif %}

{# module changes here #}
{% include 'modules/Qualiteam/SkinActOrderMessaging/items_list/messages/order/parts/create.twig' %}
