<!DOCTYPE html>
<html lang="{{ this.currentLanguage.getCode() }}"{% for k, v in this.getHTMLAttributes() %} {{ k }}="{{ v }}"{% endfor %}>
{{ widget('\\XLite\\View\\Header') }}
<body>

{% do this.displayCommentedData(this.getCommonJSData()) %}

{% include 'modules/Qualiteam/SkinActXPaymentsConnector/account/saved_cards.twig' %}


{{ widget('\\XLite\\View\\JSContainer') }}
</body>
</html>
