{##
 # Forgot your password
 #}

<div class="recover-password-wrapper">
  <div class="login-box recover-password-box">

    <h1>{{ this.getTitle() }}</h1>

    {% if this.isRecoverMessage() %}
      {% include 'login/password_recovery_admin/recover_message.twig' %}
    {% else %}
      <div class="recover-password-message{% if this.get('valid') %} resend-email{% endif %}">
        <p>{{ this.getMessageFirstLine() }}</p>
        <p>{{ this.getMessageSecondLine() }}</p>
      </div>

      <form action="{{ xurl() }}" method="post" name="recover_password">
        <input type="hidden" name="target" value="recover_password" />
        <input type="hidden" name="action" value="recover_password" />
        {{ widget('\\XLite\\View\\FormField\\Input\\FormId') }}

        <ul class="recover-password-form fields table">
          {% set hasError = (this.get('valid') == 0) %}
          {{ widget_list(
            'admin.input.login',
            fieldType='text',
            fieldName='email',
            fieldValue='email',
            label='Email',
            error=hasError) }}
          <li class="buttons">
            {% set classes = this.get('email') ? 'regular-main-button' : 'regular-main-button disabled' %}
            {{ widget('\\XLite\\View\\Button\\Submit', label=t('submit_restore_pass'), style=classes) }}
            <div class="back-to-login link-block">
              <a href="{{ xurl('login') }}">{{ t('Back to login') }}</a>
            </div>
          </li>
        </ul>

      </form>
    {% endif %}

  </div>
</div>
